<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Mr. Smith</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/ionic.css">
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="shortcut icon" href="images/icons/favicon.ico">
<link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png">
<script>
	window.$ = window.jQuery = WLJQ;
</script>
</head>
<body ng-controller="MenuController">
<!--<body style="display: none;"> -->
	<!--application UI goes here-->
	
	
	<!--List-->
<div class="test has-header has-footer ">

	<div class="list ">

		<a class="item item-avatar listColor " href="#"> <img
			src="images/service_icons/facebook.png">
			<h2>Facebook</h2>
			<h3>Facebook is a social utility that connects people with
				friends...</h3>
		</a> <a class="item item-avatar listColor" href="#"> <img
			src="images/service_icons/xing.png">
			<h2>Xing</h2>
			<h3>XING ist das soziale Netzwerk für Beruf, Geschäft und
				Karriere...</h3>
		</a> <a class="item item-avatar listColor" href="#"> <img
			src="images/service_icons/relax.png">
			<h2>RELAX-Lernplattform</h2>
			<h3>RELAX ist der ideale, zentrale Ort für Ihre
				Unterrichtsmaterialien. Sie können ...</h3>
		</a> <a class="item item-avatar listColor" href="#"> <img
			src="images/service_icons/google.png">
			<h2>Google</h2>
			<h3>Google</h3>
		</a> <a class="item item-avatar listColor" href="#"> <img
			src="images/service_icons/hotmail.png">
			<h2>Hotmail</h2>
			<h3>Microsoft</h3>
		</a> <a class="item item-avatar listColor" href="#"> <img
			src="images/service_icons/web.png">
			<h2>Web.de</h2>
			<h3>Deutschlands Nummer 1</h3>
		</a> <a class="item item-avatar listColor" href="#"> <img
			src="images/service_icons/soundcloud.png">
			<h2>Soundcloud</h2>
			<h3>Finest Music...</h3>
		</a>

	</div>
</div>
<ion-header-bar class="bar bar-header bar-dark">
			<h1 class="title">Starter Application for ionic</h1>
		</ion-header-bar>
		<ion-content id="content">
			<div ng-view></div>
		</ion-content>
		<ion-footer-bar align-title="left" class="tabs tabs-icon-top tabs-dark">
			<a class="tab-item tab-item-active" ng-href="#feeds" id="feedsTab" ng-click="tabSelect('feedsTab')">
				<i class="icon ion-social-rss"></i>
			</a>
			<a class="tab-item" ng-href="#about" id="payBillTab" ng-click="tabSelect('aboutTab')">
				<i class="icon ion-information-circled"></i>
			</a>
		</ion-footer-bar>
	
	
	<script src="js/initOptions.js"></script>
	
	<script src="js/messages.js"></script>
</body>
</html>